$textfont: 'Inria Sans', Arial, Helvetica, sans-serif;
$herofont: Bungee, Arial, Helvetica, sans-serif;

$darkblue: #2d4059;
$pinkred: #ea5455;
$orange: #f07b3f;
$yellow: #ffd460;

//MIXIN
@mixin transition {
    transition: 0.6s ease;
    -webkit-transition: 0.6s ease;
    -moz-transition: 0.6s ease;
}
